.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px 20px;
    background-color: rgb(223, 223, 89);
    color: black;
    margin-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.header .header-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header h1{
    padding-bottom: 10px;
}